body {
    margin: 0px;
    background: url(images/parallax_01.png) fixed;
    width: 100%;
    height: auto;
  }
  h1 { color: transparent; }
  #content {
    position: absolute;
  }
  .img-parallax {
    position: fixed;
    width: 50%;
    height: 1000px;
  }
  #layer_1 {
    background: url("images/parallax_01.png") no-repeat 0px 0px;
  }
  #layer_2 {
    background: url("images/parallax_02.png") no-repeat 0px 0px;
  }
  #layer_3 {
    background: url("images/parallax_03.png") no-repeat 0px 0px;
  }
  #layer_4 {
    background: url("images/parallax_04.png") no-repeat 0px 0px;
  }
